#onetrust-pc-sdk #ot-email {
    height: auto;
}

#onetrust-pc-sdk input[type='email'] {
    padding: 6px 10px !important;
    border: 1px solid #d1d1d1 !important;
    border-radius: 4px !important;
    display: inline !important;
}

#onetrust-pc-sdk #ot-dns-submit {
    padding: 6px;
    margin-left: 5px;
}
#onetrust-pc-sdk #ot-dns-submit {
    cursor: pointer;
    border: 1px solid #000 !important;
}
#onetrust-pc-sdk input:disabled {
    cursor: not-allowed !important;
}
#onetrust-pc-sdk #ot-email:disabled {
    color: green;
}

div#dns-custom-text,
div#ot-email-text {
    clear: both;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 25px;
}

div#dns-custom-text p,
div#ot-email-text p{
    font-size: inherit !important;
}

form#ot-email-submit {
    padding-top: 20px;
}
#onetrust-pc-sdk #accept-recommended-btn-handler {
    display: none !important;
}

#onetrust-pc-sdk hr {
    border-top: 1px solid #ccc !important;
}

